* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  font-family: "Ubuntu", sans-serif;
}

button {
  font-size: 1em;
  padding: 10px 25px;
  color: #177693;
  border-radius: 3px;
  border: 2px solid #177693;
  outline: none;
}

h3 {
  margin-top: 20px;
}

#hover, #hover2{
  color: white;
  background-color: #18AFC7;
  border: #18AFC7;
}

#active {
  color: white;
  background-color: #177693;
  border: #177693;
}

table {
  padding-top: 20px;
  padding-bottom: 20px;
}

th {
  padding: 0 10px;
}

td {
  text-align: center;
}

#button_caption {
  color: #ADADAD;
}

p {
  display: block;
  line-height: 30px;
}

#disabled {
    background-color: #ABC0C8;
    color: white;
    border: #ABC0C8;
    opacity: 0.6;
    cursor: not-allowed;
}

#send_icon {
}

#send_text {
  float: left;
  margin-top: 5px;
  margin-left: 3px;
}

#settings_icon {

}

#settings_text {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

#add_user_icon, #settings_icon{
  filter: brightness(0) invert(1);
}

/* rounded buttons*/
.btn-rounded {
  border-radius: 50px;
}

/*Group buttons*/
#first {
  border-radius: 5px 0 0 5px;
}

#first-rounded {
  border-radius: 50px 0 0 50px;
}

#normal {
  border-radius: 0;
}

#last {
  border-radius: 0 5px 5px 0;
}

#last-rounded {
  border-radius: 0 50px 50px 0;
}

#first, #normal, #first-rounded, #last-rounded {
  margin-right: -5px;
}

#button_caption td {
  text-align: center;
  padding: 0 32px;
}

.btn-group tr td div{
  display: inline-block;
  padding: 0 30px;
}