* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  font-family: "Ubuntu", sans-serif;
}

button {
  font-size: 1em;
  padding: 10px 25px;
  color: #177693;
  border-radius: 3px;
  border: 2px solid #177693;
  outline: none;
}

h3 {
  margin-top: 20px;
}

#hover, #hover2{
  color: white;
  background-color: #18AFC7;
  border: #18AFC7;
}

#active {
  color: white;
  background-color: #177693;
  border: #177693;
}

table {
  padding-top: 20px;
  padding-bottom: 20px;
}

th {
  padding: 0 10px;
}

td {
  padding-top: 10px;
  text-align: center;
  padding-right: 20px; 
}

#button_caption {
  color: #ADADAD;
}

p {
  display: block;
  line-height: 30px;
}

#disabled {
    background-color: #ABC0C8;
    color: white;
    border: #ABC0C8;
    opacity: 0.6;
    cursor: not-allowed;
}

#send_icon {
}

#send_text {
  float: left;
  margin-top: 5px;
  margin-left: 3px;
}

#settings_icon {

}

#settings_text {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

#add_user_icon, #settings_icon{
  filter: brightness(0) invert(1);
}

