* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  font-family: "Roboto Light;
}

button {
  font-size: 1em;
  padding: 10px 20px;
  color: #177693;
  border-radius: 3px;
  border: 2px solid #177693;
  outline: none;
}

h2 {
  font-size: 1.7em;
  font-family: "Roboto Bold";
  margin-bottom: 1em;
}

#hover, #hover2{
  color: white;
  background-color: #18AFC7;
  border: #18AFC7;
}

#active {
  color: white;
  background-color: #177693;
  border: #177693;
}

.container table {
  margin-top: 20px;
}

th {
  padding: 0 10px;
}

td {
  text-align: center;
}

#button_caption {
  color: #ADADAD;
}

p {
  display: block;
  line-height: 30px;
}

#disabled {
  background-color: #ABC0C8;
  color: white;
  border: #ABC0C8;
  opacity: 0.6;
  cursor: not-allowed;
}

#send_icon {
}

#send_text {
  float: left;
  margin-top: 5px;
  margin-left: 3px;
}

#settings_icon {

}

#settings_text {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

/* rounded buttons by Cesar V.*/
.btn-round-container{
 width: 100%;
}

.btn {
  font-size: 1em;
  padding: 10px 20px;
  margin: 0 10px;
  color: #177693;
  border-radius: 3px;
  border: 2px solid #177693;
  outline: none;
}

.btn-round {
  border-radius: 25px;
}

.btn-round i{
  margin-right: 5px;
}

.btn-hover {
  color: white;
  background-color: #18AFC7;
  border: 2px solid #18AFC7
}

.btn-active {
  color: white;
  background-color: #177693;
  border: 2px solid #177693;
}

.btn-disabled {
  background-color: #ABC0C8;
  color: white;
  border: #ABC0C8;
  opacity: 0.6;
  cursor: not-allowed;
}

/* group button by Cesar V.*/
.btn-group-container {}

.btn-group {
  float: left;
}

.btn-group-round {
  float: right;
}

.btn-group > button {
  margin: 0 -2px;
  border-radius: 0;
}

.btn-group > button:nth-child(2), .btn-group > button:nth-child(3) {
  border-right: 0;
  border-left: 0;
}

.btn-group > button:first-child {
  border-right: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.btn-group > button:last-child {
  border-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.btn-group-round > button {
  margin: 0 -2px;
}