
p {
  display: block;
  line-height: 30px;
}

#cards_content {
  margin-top: 20px;
  width: 100%;
}

#cards_left {
  width: 325px;
  height: 450px;
  float: left;
  border: solid grey 1px;
  border-radius: 5px;
  border-color: #177693;
}

#cards_img {
  width: 100%;
  height: 200px;
  z-index: -1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#cards_content_img {
  position: relative;
  float: left;
  width: 150px;
  height: 175px;
  margin-left: 85px;
  margin-top: -100px;
  z-index: 1;
  border-radius: 50%;
}


#cards_content_icons {
  opacity: 0.5;
  text-align: center;
  padding-top: 15px;
}

.icon_images {
  opacity: 0.75;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-top: -10px;
}

#name_and_title {
  margin-top: 100px;
  text-align: center;
}


#cards_right {
  margin-left: 325px;
  text-align: left;
  padding-top: 100px;
  padding-left: 50px;

  /* Change this to whatever the width of your left column is*/
}
.clear {
  clear: both;
}




